@page "{gameId}"
@model SoC.WebApplication.Pages.GameModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SoC</title>
</head>
<body>
    <p>Game!</p>
</body>
</html>
