@page
<div class="container">
    <div class="row">
        <div class="col-auto">
            User: <input type="text" id="userName" value="Adam"/>
            <br />
            Game Name: <input type="text" id="gameName" value="Game-1" />
            <br />
            Max Players: <input type="text" id="playerCount" value="1" />
            <input type="button" id="createGameRequest" value="Create Game" />
        </div>
        <div class="col">
            <input type="button" id="getWaitingGamesRequest" value="Get Waiting Games" />
        </div>
        <div class="col">
            <input type="button" id="joinGameRequest" value="Join Game" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="status"></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="gamesList"></table>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/setup.js"></script>
